auto-save-list/*
elpa/*
projectile-bookmarks.eld
projectile.cache
network-security.data
.lsp-session*
tramp
transient/*
eshell/*
recentf*
secrets.el
.lsp-session*
.cache*
bookmarks
image-dired/*
projectile.cache
quelpa/*
.org-id-locations
org-roam.db
notes
undo/**
forge-database.sqlite